[Unit]
Description=Waypoint Server
After=network.target

[Service]
ExecStart=/usr/local/bin/waypoint server run -accept-tos
User=root
Group=root
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
